.state-diagram {
  position: relative;
  width: 1200px;
  height: 600px;
  border: 1px dashed #ccc;
  margin: auto;
  margin-left: 50px;
}

.node-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}

.diagram-container {
  position: relative;
  width: 100%;
  height: 600px; /* lo que uses */
}

.diagram-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.edges {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.state-node {
  z-index: 1;
}

svg {
  pointer-events: none;
}
svg path, svg line, svg marker {
  pointer-events: none;
}
