.state-diagram {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 1px dashed #ccc;
  margin: auto;
}

.node-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}

.edges {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.state-node {
  z-index: 1;
}
