.app-container {
  display: grid;
  grid-template-columns: 25% 75%; /* sidebar 25%, main 75% */  
  height: 100vh;
  width: 100vw;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;  
  margin-top: 0;
}
.sidebar {
  background: #1f2937;
  color: white;
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.sidebar::-webkit-scrollbar {
  display: none;
}

.operation-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  scrollbar-width:none;
}

.main-content {
  padding: 1rem;
  overflow: auto;  
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* separación entre botones */
  margin-top: 1rem;
}

.player-controls button {
  background: #374151; /* gris oscuro */
  border: none;
  border-radius: 50%; /* hace el botón redondo */
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.player-controls button:hover {
  background: #4b5563;
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-size: 1.8rem;
}

